---

---
<article class="h-dvh bg-cover bg-center" style="background-image: url(/img/bg_inicio.png)">
  <div class="container columns-1 mx-auto flex justify-center items-center content-center w-full h-full">
    <img src="/img/intro.png" class="max-w-80" alt="">
    <div class="mt-10">
      <div class="columns-1 text-balance text-white ms-5 ps-14 border-l">
        <h1 class="text-7xl mt-2 mb-7">Titulo</h1>
        <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias saepe officiis ea exercitationem consectetur! Neque sed quos illum id numquam architecto! Harum, vero omnis a corporis quibusdam repellat sed quisquam!
          Placeat quidem consectetur accusantium corrupti, iusto eligendi maxime deserunt vel voluptates, veritatis alias provident minima, nihil dolore impedit! Aliquid rem, cupiditate quas harum labore doloribus veniam vel provident eaque iste.
        </p>
        <p class="mb-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias saepe officiis ea exercitationem consectetur! Neque sed quos illum id numquam architecto! Harum, vero omnis a corporis quibusdam repellat sed quisquam!
          Placeat quidem consectetur accusantium corrupti, iusto eligendi maxime deserunt vel voluptates, veritatis alias provident minima, nihil dolore impedit! Aliquid rem, cupiditate quas harum labore doloribus veniam vel provident eaque iste.
        </p>
      </div>
      <div class="w-full flex justify-end mt-7">
        <a href="#!" class="border text-white mr-3 py-1 px-3 rounded-3xl flex justify-center" target="_self" rel="noopener noreferrer">Instrucciones</a>
        <a href="/intro" class="border border-[#FFDA71] bg-[#FFDA71]  py-1 px-3 rounded-3xl flex justify-center" target="_self" rel="noopener noreferrer">Comenzar 
          <lord-icon class="ms-2"
              src="https://cdn.lordicon.com/vduvxizq.json"
              trigger="loop"
              delay="2000"
              colors="primary:#000000"
              style="width:25px;height:25px">
          </lord-icon>
        </a>
      </div>
    </div>
  </div>
</article>
<script src="https://cdn.lordicon.com/lordicon.js"></script>