---
import BaseLayout from '../layouts/base.astro'
const GENPATH = import.meta.env.BASE_URL;
---
<BaseLayout>
<img src=`${GENPATH}/img/head.png` class="w-full mb-8" alt="">
<div class="container mx-auto grid grid-cols-3 gap-5 text-pretty">
  <p>Para el caso de las defunciones de interés forense, el proceso de certificación se realiza desde plataforma de SIRDEC, para ello debe realizar un correcto diligenciamiento de las variables que se encuentran en los diferentes sub módulos del modulo de cadáveres. 
  </p>
  <p>La información de las variables registradas en el módulo de cadáveres del SIRDEC, están homologadas y migran automáticamente al aplicativo RUAFND (fuente oficial de las Estadísticas Vitales) a través de un servicio web, lo que implica que los datos consignados en SIRDEC equivalen para efectos legales al certificado de defunción. 
  </p>
  <div class="flex text-pretty flex-col">
    <p class="border-t border-[#333333] pt-4 mb-5">A continuación y a manera de síntesis se realiza un recorrido por los sub módulos de cadáveres y su correspondencia con las variables del certificado de defunción.
    </p>
    <a href="/interactivo" class="border border-[#FFDA71] bg-[#FFDA71] hover:border-[#214361] hover:bg-[#214361] hover:text-[#FFDA71] self-end py-1 px-6 rounded-3xl mt-4" target="_self" rel="noopener noreferrer">Iniciar</a>
  </div>
</div>
</BaseLayout>