---
const GENPATH = import.meta.env.BASE_URL;
---
<nav class="w-full bg-slate-100 flex justify-between items-center content-center px-6 py-3">
  <img src=`${GENPATH}/img/logo.png` class="w-44" alt="">
  <a href=`${GENPATH}/` aria-label="Home">
    <lord-icon
      src="https://cdn.lordicon.com/cnpvyndp.json"
      trigger="morph"
      state="morph-home-1"
      colors="primary:#1a1a1a"
      style="width:50px;height:50px">
    </lord-icon>
  </a>
</nav>
<script src="https://cdn.lordicon.com/lordicon.js"></script>