---
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<Header />	
	</head>
	<body>
		<div class="w-full h-dvh">
			<Navbar />
			<div class="h-[calc(100vh-90px)] bg-[#EEEEEE] mx-auto">
				<slot />
			</div>
		</div>
	</body>
</html>