---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'

let title = 'SIRDEC';
---
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/sirdec/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<ViewTransitions />
		<Header />	
	</head>
	<body>
		<div  class="w-full h-dvh">
			<Navbar />
			<div class="min-h-[calc(100vh-90px)] bg-[#EEEEEE] mx-auto">
				<slot />
			</div>
		</div>
	</body>
</html>